body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: white;
  color: black;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-container {
  display: flex;
  gap: 40px;
  border: 1px solid lightgray;
  padding: 30px 40px;
  border-radius: 6px;
  background: whitesmoke;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
  max-width: 700px;
  width: 100%;
  box-sizing: border-box;
}

.auth-container form {
  width: 50%;
}

.auth-container h2 {
  margin-top: 0;
  margin-bottom: 15px;
}

.auth-container input[type="text"],
.auth-container input[type="password"] {
  width: 100%;
  padding: 6px 8px;
  margin-bottom: 12px;
  box-sizing: border-box;
}

.auth-container button {
  width: 100%;
  padding: 8px 14px;
}

.theme-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
}

body.dark {
  background: #121212;
  color: white;
}

body.dark .auth-container {
  background: #1e1e1e;
  border: 1px solid #333;
}

body.dark .auth-container button:hover {
  background: #333;
}

body.dark .theme-toggle:hover {
  background: darkgray;
}