body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background: white;
  color: black;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

header {
    background-color: lightgray;
    padding: 10px 20px;
}

nav a {
    margin-right: 10px;
    text-decoration: none;
    color: black;
}

button {
    background-color: blue;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
}

input, select, textarea {
    padding: 6px;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid gray;
}

.task {
    border-bottom: 1px solid gray;
    padding: 8px 0;
}
.task-form {
  margin-bottom: 30px;
}

.task-card {
  border: solid black 1px;
  padding: 10px;
  margin-bottom: 15px;
}

.delete-form {
  margin-top: 10px;
}

.task-card div {
  margin: 0;
  padding: 0;
}

.task-card div p {
  display: inline;
  margin: 0;
  padding: 0;
}

.auth-container {
  display: flex;
  gap: 40px;
  border: 1px solid white;
  padding: 30px 40px;
  border-radius: 6px;
  background: white;
  box-shadow: 0 0 12px rgb(0 0 0 / 0.05);
  max-width: 700px;
  width: 100%;
  box-sizing: border-box;
}

.auth-container form {
  width: 50%;
}

.auth-container h2 {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 22px;
}

.auth-container label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
}

.auth-container input[type="text"],
.auth-container input[type="password"] {
  width: 100%;
  padding: 6px 8px;
  border: 1px solid gray;
  border-radius: 3px;
  font-size: 14px;
  margin-bottom: 12px;
  font-family: inherit;
  color: black;
  background: white;
  box-sizing: border-box;
}

.auth-container button {
  padding: 8px 14px;
  border: 1px solid black;
  background: transparent;
  font-weight: 600;
  border-radius: 3px;
  font-family: inherit;
  color: black;
  width: 100%;
  font-size: 16px;
}

.auth-container button:hover {
  background: white;
}